<%- include('../includes/head.ejs') %>

</head>

<body>
   <%- include('../includes/navigation.ejs') %>



    <main>
        <div class="form-nobg">  
           <form class="form-signin" action="/reset" method="POST">  
            <h1 class="h3 mb-3 font-weight-normal"><b>Reset Password</b></h1>
             <label for="inputEmail" class="sr-only">Input Email address</label>
             <input type="email" name="email" id="email" class="form-control" placeholder="Email address" required autofocus>
             <br>
             <button class="btn btn-lg btn-primary btn-block" type="submit">Send</button>
            </form>
        </div>    
       </main>


<%- include('../includes/end.ejs') %>