<%- include('../includes/head.ejs') %>
    <!-- <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/auth.css"> -->
</head>

<body>
   <%- include('../includes/navigation.ejs') %>

    <!-- <main>
        <form class="login-form" action="/signup" method="POST">
            <div class="form-control">
                <label for="email">E-Mail</label>
                <input type="email" name="email" id="email">
            </div>
            <div class="form-control">
                <label for="password">Password</label>
                <input type="password" name="password" id="password">
            </div>
            <div class="form-control">
                <label for="confirmPassword">Confirm Password</label>
                <input type="password" name="confirmPassword" id="confirmPassword">
            </div>
            <button class="btn" type="submit">Signup</button>
        </form>
    </main> -->
 
    <main>
        <div class="form-nobg">  
           <form class="form-signin" action="/signup" method="POST">  
             <h1 class="h3 mb-3 font-weight-normal"><b>Please Signup</b></h1>
             <label for="inputEmail" class="sr-only">Email address</label>
             <br>
             <input type="email" name="email" id="email" class="form-control" placeholder="Email address" required autofocus>
             <label for="inputPassword" class="sr-only">Password</label>
             <input type="password" name="password" id="password" class="form-control" placeholder="Password" required>
             <br>
             <label for="confirmPassword" class="sr-only">Confirm Password</label>
             <input type="password" name="confirmPassword" id="confirmPassword" class="form-control" placeholder="Confirm Password" required>

             <button class="btn btn-lg btn-primary btn-block" type="submit">Signup</button>
            </form>
        </div>    
   
       </main>
   


<%- include('../includes/end.ejs') %>