<script src="/js/main.js"></script>
</body>

<br>
<div class="container-fluid"></div>
<footer class="footer-area">

            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="footer-top-menu">
                            <h3 class="footer-widget-title">ABOUT</h3>
                            <ul class="toggle-footer">
                                <li><a href="#">Company</a></li>
                                <li><a href="#">Return Policy</a></li>
                                <li><a href="#">Shipping info</a></li>
                                <li><a href="#">Offer & Promotion</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="footer-top-menu">
                            <h3 class="footer-widget-title">My Account</h3>
                            <ul class="toggle-footer">
                                <li><a href="#">Track Order</a></li>
                                <li><a href="#">Advance Search</a></li>
                                <li><a href="#">Member Benefit</a></li>
                                <li><a href="#">My Wish List</a></li>
           
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="contact-area">
                          <h3 class="footer-widget-title">Contact Us</h3>
                          <div class="footer-info contact">
                            <ul>
                              <li>
                                <i class="fa fa-map-marker"></i>
                                  3430 Kilburn Cir,Henrico VA 23233 US
                              </li>
                              <li>
                                <i class="fa fa-phone"></i>
                                  804-292-1681 
                              </li>
                              <li>
                                <i class="fa fa-envelope-o"></i>
                                  jecshop@gmail.com
                              </li>
                              <div class="social-icon">
                                
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                    <li><a href="#"><i class="fa fa-youtube-play"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                </ul>
                            </div>

                            </ul>               
                          </div>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="footer-end">
                Copyright © 2019 JECShop All Rights Reserved
              </div>


      </footer>


</html>